

.nav-menu_list-items{
  display: flex;
  list-style: none;
}

.nav-menu_list-items > a{
  padding: 1rem;
}

.logo{
  width: 100px;
  height: 100px;
  background-color: #666666;
}

.nav-menu{
  display: flex;
}